{{LICENSE_HEADER}}
@font-face {
	font-family: ExtFont;
	src: url(../PermianSansTypeface.otf);
}
html {
	background: rgba(141, 141, 141, 0.22);
	font:23px ExtFont!important;
	overflow: hidden;
	margin: 0;
}
body {
	margin: 0 -2% 0 0;
  font-family: ExtFont;
  font-size: inherit;
}
a {
	color:	white;
	text-decoration: none;
	font-size: 22px;
	cursor: default;
}
p {
	color:	black;
	border-right: 1px dotted black;
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
b {
	border:	2px dotted #d6d4d4;
}
button {
	border: none;
	cursor: default;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px white,inset 0 0 6px rgb(51, 0, 128);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow:inset 0 0 6px rgba(224, 224, 224, 1);
	border-radius: 10px;
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(194, 194, 194, 1)),to(rgba(155, 155, 155, 0.64)));
}
.game>a, .streamer>a {
	cursor: pointer;
}
.tum>.ST {
	z-index: 2;
}
.content>.tum {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(211, 192, 239, 1)), to(rgba(114, 113, 131, 1)));
}
.tum>.loading {
	z-index: -1;
}
.tum>.GT1 {
	z-index: 4;
}
.tum>.GT2 {
	z-index: 3;
}
.tum>a {
	z-index: 0;
	position: absolute;
	text-align: center;
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(95, 29, 194, 0.66)), to(rgba(0, 0, 0, 0.85)));
	cursor: pointer;
	transition: opacity 0.8s;
	opacity: 0;
}
.tum>a:hover {
	opacity: 1;
}

@-webkit-keyframes loading {
  0% {
	-webkit-transform: scale(1.4);
	} 100% {
	-webkit-transform: scale(1);
	}
}
.loading {
  position: absolute;
	display: block;
}
.loading>div {
  position: absolute;
  -webkit-animation: loading 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
}
.loading>div:nth-of-type(1) {
  background: #4821b8;
  opacity: 0.9;
  -webkit-animation-delay: 0s;
}
.loading>div:nth-of-type(2) {
  background: #4821b8;
  opacity: 0.8;
  -webkit-animation-delay: 0.1s;
}
.loading > div:nth-of-type(3) {
  background: #4821b8;
  opacity: 0.7;
  -webkit-animation-delay: 0.3s;
}
.loading > div:nth-of-type(4) {
  background: #4821b8;
  opacity: 0.6;
  -webkit-animation-delay: 0.2s;
}

#header {
	background: rgb(189, 189, 189);
	height: 10%;
	display: block;
}

#nowONline {
	display: block;
	position: absolute;
	top: 0;
	left: 22%;
	height: 30px;
	width: 55.5%;
	text-align: center;
}

.close {
	display: block;
	width: 100%;
	height: 43px;
	position: fixed;
	top: 0;
	left: 0;
	background: lightgrey;
	z-index: 10;
}
.close>a {
	color: black;
	font-size: 27;
	display: inline-block;
	width: 505px;
	padding: 3 0 0 15;
}
.close>button {
	width: 167px;
}

#FollowingList {
	overflow: auto;
	width: 99%;
	min-height: 100%;
}
#FollowingList>div {
	display: inline-block;
	width: 225px;
	height: 27px;
	margin: 1.5px 0 0;
}
div>.user {
	display: inherit;
	width: 200px;
}
#FollowingList>div>input {
	display: inline-block;
	position: static;
	margin: 0;
}

#options {
	display: none;
  position: relative;
	width: 47%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 1)), to(rgba(87, 87, 87, 1)));
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
	border-radius: 14px;
  color: white;
  font-size: 80%;
	margin: auto;
}

#popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
#popup>.background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.65);
}

button.first {
	color: white;
	text-decoration: none;
	font-size: 22px;
	padding: 5px 20px;
	background: -webkit-gradient(linear, left top, left bottom, from(#6441a5), to(#2a1b47));
	-moz-border-radius:	14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

button.button {
	color: white;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(194,	0,	255,	0.57)), to(rgba(57,	0,	179,	0.85)));
}
button.button:hover {
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(194,	0,	255,	0.22)), to(rgba(57,	0,	179,	0.49)));
}

.DashboardButton {
	position: absolute;
}

#FollowedChannelsOnline {
	cursor: default;
	border-right: none;
	font-size: 98%;
	margin: 0;
}

*::selection {
	background: rgba(0,	0,	0,	0);
}

.TwitchLogo {
	background: url(/img/TwitchLogo.png) no-repeat;
	margin-left: 273px;
	width: 151px;
	height: 50px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	cursor: auto;
}

.LoginORoutButton {
	margin-left: 547px;
	position: absolute;
}

#FollowedChannelsList {
	position: absolute;
	height: 92%;
	width: 100%;
	margin: 5;
	padding-top: 35px;
}
.ListOfFollowed {
	position: absolute;
	left: 547px;
	top: 40px;
}

.ProbablyNothing {
	position: absolute;
	left: 0px;
	top: 40px;
}

.pStatusUserNameChg {
	position: absolute;
	font-size: 20px;
	border-right: none;
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
	top: 27px;
	left: -187px;
}
.pStatusRefreshIntChg {
	position: absolute;
	font-size: 20px;
	border-right: none;
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
	top: 67px;
	left: -229px;
}


#options>div {
	display: block;
	margin: 1% 4% 0 4%;
	text-align: right;
}

#Notify>div {
	margin: 2% 0;
}
#options>div>a, #options>div>div>a {
	text-align: left;
	max-width: 91%;
	min-width: 82%;
	width: 0;
	display: inline-block;
	font-size: inherit;
}

.selected {
	border: 5px rgb(140, 100, 213) solid;
	margin: 0 10px -6px 10px !important;
}
.style {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 15px;
}

.List_Format {
	text-align: center!important;
}

.List_Format>a {
	display: block;
	width: 100%;
	max-width: none;
}

.Full, .Mini, .Grid {
	border-radius: 5px;
}
.Full {
	background: url(/img/Full.png) no-repeat;
	background-size: contain;
}
.Mini {
	background: url(/img/Mini.png) no-repeat;
	background-size: contain;
}
.Grid {
	background: url(/img/Grid.png) no-repeat;
	background-size: contain;
}

#UserName {
  text-align: center!important;
}
#UserName>p:nth-child(1) {
	margin-right: 2%;
}
#UserName>p {
	display: inline-block;
	color: inherit;
	border: 0;
	margin: 0;
}
.Logout {
	display: block!important;
	color: inherit;
	background: rgb(142, 11, 11);
	border: 2px rgba(65, 65, 65, 0.62) solid!important;
	border-radius: 5px;
	padding: 1%;
	margin: 1% 0!important;
}
.Logout:hover {
	background: rgb(115, 9, 9);
	border-color: rgba(71, 71, 71, 0.96);
	cursor: default;
}

#options>div:first-child {
	font-size: 140%;
	border-bottom: 1px solid grey;
	text-align: center;
	margin: 0;
	padding: 3% 0 0;
}

#ChgUsrInt {
	max-width: 52px;
	min-width: 15px;
	font-size: 27px;
	border-color: rgba(0, 0, 0, 0);
	color: white;
	background: none;
	padding: 0 8 0 8;
	text-align: center;
}

#insertContentHere {
	height: 100%;
	overflow: auto;
}

.Check_Box, .Check_Box_2 {
	height: 22px;
	-webkit-appearance: none;
	outline: none;
	margin: 0;
}

.Check_Box:disabled, .Check_Box_2:disabled {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.Check_Box {
	background: url(/img/Check_Box.png) no-repeat 0 -22px;
		background-size: cover;
	width: 50px;
}

.Check_Box:checked {
	background: url(/img/Check_Box.png) no-repeat 0 0;
		background-size: cover;
}

.Check_Box_2 {
	background: url(/img/Check_Box_2.png) no-repeat 0 -22px;
		background-size: cover;
	width: 22px;
}

.Check_Box_2:checked {
	background: url(/img/Check_Box_2.png) no-repeat 0 0;
		background-size: cover;
}

#fndAbug {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.37)), to(rgba(255, 5, 5, 0.75)));
	position: fixed;
	z-index: 20;
	width: 163px;
	height: 25px;
	-webkit-transform: rotate(-90deg);
	color: white;
	font-size: 23;
}
#fndAbug:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.5)), to(rgba(255, 255, 255, 0.8)));
}
.foundAbug:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.5)), to(rgba(1, 1, 1, 0.8)));
}

.Welcome {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(165, 165, 165, 0.8)), to(rgba(39, 39, 39, 0.5)));
	width: 396px;
	position: absolute;
	left: 159px;
	top: 143px;
}
.Welcome>p {
	border: none;
	font-size: 21px;
	text-align: center;
}
.Welcome>p:nth-of-type(1) {
	font-size: 23px;
	margin: 10 0 0 0;
}
.Welcome>p:nth-of-type(2) {
	margin: 5 0 0 0;
}
.Welcome>p:nth-of-type(3) {
	margin: 0 0 9 0;
}
.Welcome>p:nth-of-type(4) {
	margin: 11 0 0 0;
}
.Welcome>p:nth-of-type(5) {
	margin: 0 0 5 0;
}
.inSetUpUserName {
	margin: 0 0 5 73;
	width: 250px;
	height: 30px;
	font-size: 23px;
	text-align: center;
}

.fs1 {
	-webkit-animation: fadeIn 2s both;
	display: block;
	z-index: 99;
	width: 100%;
	height: 100%}
.fs1>a,	#TwitchName,	#TwitchAccount {
	display: block;
	position: absolute;
	color: black;
}
.fs1>a:first-child {
	left: 146px;
	top: 40px;
	font-size: 35px;
	-webkit-animation: slideInLeft 1s both;
}
.fs1>a:nth-child(2) {
	left: 165px;
	top: 67px;
	font-size: 30px;
	-webkit-animation: slideInRight 1s both;
}

#TwitchName,	#TwitchAccount {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(165,	68,	255,	1)), to(rgba(42,	0,	173,	0.95)));
	width: 160px;
	height: 150px;
	color: rgba(255, 255, 255, 0.97);
	-webkit-border-radius: 62px;
	transition: color .3s;
}
#TwitchName:hover,	#TwitchAccount:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 50, 165, 1)), to(rgba(40, 0, 163, 0.95)));
	color: rgba(255, 255, 255, 0.5);
}

#TwitchAccount {
	left: 140px;
	top: 200px;
}
#TwitchName {
	left: 430px;
	top: 200px;
}

#TwitchAccount>a, #TwitchName>a {
	display: block;
	padding: 20px 5px 0 5px;
	text-align: center;
	font-size: 28px;
	color: inherit;
}

#AppVersion {
	position: fixed;
	right: 15px;
	bottom: -5px;
	-webkit-border-radius: 15px;
	background: white;
	padding: 4px;
	color: black;
	font-size: 15px;
	cursor: help;
	z-index: 15;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;
}
#AppChanges {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(85, 85, 85, 0.95)));
	position: fixed;
	z-index: 35;
	width: 400px;
	height: 400px;
	left: 148.5px;
	bottom: 0;
}
.AppInfo::selection {
	background: rgba(0,	0,	0,	0);
}

button.AppInfo {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(165, 165, 165, 0.8)), to(rgba(39, 39, 39, 0.5)));
	padding: 2 0 2 0;
	margin: 0 -5 0 0;
	width: 161px;
	font-size: 22px;
	color: white;
	border-right: 1px solid black;
}
button.AppInfo:last-child {
	width: 80px;
}
button.AppInfo:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(117,	117,	117,	0.8)), to(rgba(61,	61,	61,	0)));
}

.AppVersionContent2 {
	position: relative;
	height: 360px;
	padding: 10 15 0 15;
}
.AppVersionContent3 {
	max-height: 100%;
	overflow: auto;
}

#AppInfoBack {
	background: rgba(0, 0, 0, 0.65);
	z-index: 5;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.AppInfo>a {
	font-size: 18px;
}

.AppInfoAbout1 {
	margin: 7 0 2 0;
}
.AppInfoAbout1>a {
	font-size: 17px;
}
.AppInfoAbout2 {
	text-align: center;
}
.AppInfoAbout3>a, .AppInfoAbout4>a, .AppInfoAbout5>a {
	cursor: pointer;
}
.AppInfoAbout3 {
	margin: 34 0 0 5;
}
.AppInfoAbout4 {
	margin: 0 0 0 16;
}
.AppInfoAbout5 {
	margin: 0 0 0 28;
}

#CheckingProgress {
	position: absolute;
	width: 100%;
	height: .7%;
}

#ChgUsrSnd {
	color: inherit;
	text-decoration: none;
	font-size: 120%;
	border-radius: 0 0 12px 12px;
	width: 100%;
	height: 7%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(116, 152, 247, 0.03)), to(rgba(65, 45, 190, 0.34)));
}
#ChgUsrSnd:hover {
	color: rgb(228, 228, 228);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(211, 223, 255, 0.03)), to(rgba(47, 33, 136, 0.34)));
}

button.WelcomOK {
	left: 0;
	margin-top: 5px;
	color: white;
	text-decoration: none;
	font-size: 22px;
	width: 396px;
	height: 36px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0)), to(rgba(87, 87, 87, 0.78)));
}
button.WelcomOK:hover {
	color: rgb(207, 207, 207);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0)), to(rgba(182, 182, 182, 0.78)));
}

#content3 {
	width: 100%;
	position: relative;
	display: block;
}

#WhatsNew {
	display: none;
	background: rgb(185,	185,	185);
	position: fixed;
	z-index: 99;
	width: 367px;
	height: 430px;
	left: 150px;
	padding: 15px;
}
.msgContain>a {
	color: darkblue;
	font-size: inherit;
}
.msgTitle {
	text-align: center;
	font-size: 23px;
	padding-bottom: 5px;
}
.msgContain {
	font-size: 19px;
}
.msgCheckbox {
	font-size: 19px;
}
.msgChange {
	font-size: 20px;
	text-align: center;
	padding: 15px 0 5px 0;
}
#msgClose {
	font-size: 25px;
	width: 390px;
	position: absolute;
	bottom: 0;
	left: 3;
}

button.refresh {
	background: url(/img/refresh.png) no-repeat;
	background-size: contain;
}
button.directory {
	background: url(/img/Home.png) no-repeat;
	background-size: contain;
}
button.following {
	background: url(/img/Following.png) no-repeat;
	background-size: contain;
}
button.settings {
	background: url(/img/Setting.png) no-repeat;
	background-size: contain;
}
#header>.dashL {
	display: inline-block;
	width: 22%;
	padding: 1% 0;
	text-align: left;
}
#header>.dashL:first-child {
	text-align: right;
	margin-right: 55%;
}
button.dash {
	display: inline-block;
	width: 33%;
	height: 83%;
	transition: all .2s ease-in-out;
}
button.dash:hover {
	transform: scale(.85);
}

#message {
	display: none;
	position: absolute;
	z-index: 99;
	width: 310px;
	font-size: 18px;
	padding: 5 15 5 15;
	background: white;
	text-align: center;
	-webkit-animation: fadeIn 0.3s both;
}

#textWidth {
	display: block;
	position: absolute;
	z-index: -1;
}

#FoundAbugText {
	right: 0;
	top: 121px;
	z-index: 19;
	padding: 37 5 13 5;
	position: absolute;
	width: 98px;
	height: 113px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.8)), to(rgba(1, 1, 1, 0.5)));
}
#FoundAbugText>a {
	z-index: 20;
	text-align: justify;
	font-size: 21px;
	width: 100%;
	display: block;
}

.NOO {
	width: 100%;
	text-align: center;
}
.NOO>a {
	color: black;
}
.zoom {
	background: url(/img/zoom.png) no-repeat;
	background-size: contain;
	display: block;
	position: absolute;
	width: 10.02%;
	height: 10.02%;
	top: 2%;
	left: 2%;
	z-index: 4;
	cursor: pointer;
}
#zoomContent {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.90);
	width: 100%;
	top: 10%;
	z-index: 99;
}
#zoomIMG {
	display: block;
	z-index: 100;
}

.Welcome>p {
	cursor: default;
}
.Welcome>p::selection {
	background: none;
}

#donate {
	display: block;
	background: rgba(0, 0, 0, 0.08);
	margin: 0 0 3 0;
	width: 100%;
	height: 30px;
}
#donate>a:first-child {
	color: black;
	font-size: 22;
	display: inline-block;
	position: absolute;
	margin: 2 0 0 55;
}
#donate>form {
	width: 90px;
	display: inline-block;
	position: absolute;
	margin-left: 501px;
	top: 8px;
}
#closenews {
	color: black;
	font-size: 15;
	position: absolute;
	right: 28px;
	top: 10px;
}

@media screen and (width: 678px) {}
@media screen and (width: 450px) {}
@media screen and (width: 340px) {}

@-{{PLATFORM}}-keyframes openReport {
	0% { -{{PLATFORM}}-transform:translateX(108px) }
	100% { -{{PLATFORM}}-transform:translateX(0) }
}
@-{{PLATFORM}}-keyframes closeReport {
	0% { -{{PLATFORM}}-transform:translateX(0) }
	100% { -{{PLATFORM}}-transform:translateX(108px) }
}
@-{{PLATFORM}}-keyframes showReport {
	0% { -{{PLATFORM}}-transform:translateX(133px) }
	100% { -{{PLATFORM}}-transform:translateX(108px) }
}
@-{{PLATFORM}}-keyframes hideReport {
	0% { -{{PLATFORM}}-transform:translateX(108px) }
	100% { -{{PLATFORM}}-transform:translateX(133px) }
}
@-{{PLATFORM}}-keyframes hideReportA {
	0% { -{{PLATFORM}}-transform:translateX(0) }
	100% { -{{PLATFORM}}-transform:translateX(133px) }
}
@-{{PLATFORM}}-keyframes openReportBtn {
	0% { -{{PLATFORM}}-transform:translateX(0) rotate(-90deg) }
	100% { -{{PLATFORM}}-transform:translateX(-106px) rotate(-90deg) }
}
@-{{PLATFORM}}-keyframes closeReportBtn {
	0% { -{{PLATFORM}}-transform:translateX(-106px) rotate(-90deg) }
	100% { -{{PLATFORM}}-transform:translateX(0) rotate(-90deg) }
}
@-{{PLATFORM}}-keyframes showReportBtn {
	0% { -{{PLATFORM}}-transform:translateX(25px) rotate(-90deg) }
	100% { -{{PLATFORM}}-transform:translateX(0) rotate(-90deg) }
}
@-{{PLATFORM}}-keyframes hideReportBtn {
	0% { -{{PLATFORM}}-transform:translateX(0) rotate(-90deg) }
	100% { -{{PLATFORM}}-transform:translateX(25px) rotate(-90deg) }
}
@-{{PLATFORM}}-keyframes hideReportBtnA {
	0% { -{{PLATFORM}}-transform:translateX(-106px) rotate(-90deg) }
	100% { -{{PLATFORM}}-transform:translateX(25px) rotate(-90deg) }
}


/*
		based on Animate.css
	http://daneden.me/animate
*/
@-{{PLATFORM}}-keyframes fadeIn {
	0% { opacity:0 }
	100% { opacity:1 }
}
@-{{PLATFORM}}-keyframes fadeOut {
	0% { opacity:1 }
	100% { opacity:0 }
}
@-{{PLATFORM}}-keyframes bounceInUp {
	0% { opacity:0;-{{PLATFORM}}-transform:translateY(600px) }
	99% { opacity:1;-{{PLATFORM}}-transform:translateY(0) }
	100% { -{{PLATFORM}}-transform:translateY(0) }
}
@-{{PLATFORM}}-keyframes bounceOutDown {
	0% { -{{PLATFORM}}-transform:translateY(0) }
	20% { opacity:1;-{{PLATFORM}}-transform:translateY(-20px) }
	100% { opacity:0;-{{PLATFORM}}-transform:translateY(600px) }
}
@-{{PLATFORM}}-keyframes bounceIn {
	0% { opacity:0;-{{PLATFORM}}-transform:scale(.0) }
	100% { opacity:1;-{{PLATFORM}}-transform:scale(1) }
}
@-{{PLATFORM}}-keyframes bounceOut {
	0% { opacity:1;-{{PLATFORM}}-transform:scale(1) }
	100% { opacity:0;-{{PLATFORM}}-transform:scale(.0) }
}
@-{{PLATFORM}}-keyframes slideInDown {
	0% { opacity:0;-{{PLATFORM}}-transform:translateY(-2000px) }
	100% { -{{PLATFORM}}-transform:translateY(0) }
}
@-{{PLATFORM}}-keyframes slideOutUp {
	0% { -{{PLATFORM}}-transform:translateY(0) }
	100% { opacity:0;-{{PLATFORM}}-transform:translateY(-2000px) }
}
@-{{PLATFORM}}-keyframes slideInLeft {
	0% { opacity:0;-{{PLATFORM}}-transform:translateX(-2000px) }
	100% { -{{PLATFORM}}-transform:translateX(0) }
}
@-{{PLATFORM}}-keyframes slideOutLeft {
	0% { -{{PLATFORM}}-transform:translateX(0) }
	100% { opacity:0;-{{PLATFORM}}-transform:translateX(-2000px) }
}
@-{{PLATFORM}}-keyframes slideInRight {
	0% { opacity:0;-{{PLATFORM}}-transform:translateX(2000px) }
	100% { -{{PLATFORM}}-transform:translateX(0) }
}
@-{{PLATFORM}}-keyframes slideOutRight {
	0% { -{{PLATFORM}}-transform:translateX(0) }
	100% { opacity:0;-{{PLATFORM}}-transform:translateX(2000px) }
}
