#TwitchTVnotifier-toolbar-button {
	list-style-image:url('chrome://TwitchTVnotifier/content/img/icon.png');
	cursor:pointer;
}

toolbar[iconsize="small"] #facebooktoolbarbutton-toolbarbutton {
	list-style-image: url('chrome://TwitchTVnotifier/content/img/icon.png');
}

#facebooktoolbarbutton-toolbarbutton[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #facebooktoolbarbutton-toolbarbutton {
	list-style-image: url("chrome://TwitchTVnotifier/content/img/icon.png");
}	