<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ivan 'MacRozz' Zarudny</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>Twitch Notifier</string>
	<key>CFBundleIdentifier</key>
	<string>com.rozz.twitchnotifier</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>{{APP_VERSION_CURRENT}}</string>
	<key>CFBundleVersion</key>
	<string>{{BUILD}}</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>104857600</real>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>486</real>
				<key>Identifier</key>
				<string>main</string>
				<key>Width</key>
				<real>583</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>popupd</string>
				<key>Identifier</key>
				<string>popup</string>
				<key>Image</key>
				<string>img/icon.png</string>
				<key>Label</key>
				<string>Twitch Notifier</string>
				<key>Palette Label</key>
				<string></string>
				<key>Popover</key>
				<string>main</string>
				<key>Tool Tip</key>
				<string>Twitch Notifier</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Get notified when your favorite streamer goes online</string>
	<key>DeveloperIdentifier</key>
	<string>X79YF53ARB</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.parsecdn.com</string>
				<string>www.google-analytics.com</string>
				<string>api.twitch.tv</string>
				<string>jtvnw.net</string>
				<string>api.parse.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/mcrozz/Twitch.tv_Notifier</string>
</dict>
</plist>
